
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/

.DS_Store
audio/406949__kyles__village-small-crowd-morning-under-mango-trees-children-kids-and-nearby-and-distant-mellow-voices-and-activity-putti-uganda-africa-2016.wav
audio/413914__kyles__small-town-desert-oasis-distant-traffic-dune-buggys-bird-and-kids-playing-echo-huacachina-peru-south-america.wav
bin/